parameters:
	ignoreErrors:
		-
			message: "#^Casting to string something that's already string\\.$#"
			count: 3
			path: ../src/Implementor.php

		-
			message: "#^Call to function is_array\\(\\) with array will always evaluate to true\\.$#"
			count: 1
			path: ../src/Implementor.php

		-
			message: "#^Call to function is_object\\(\\) with \\*NEVER\\* will always evaluate to true\\.$#"
			count: 1
			path: ../src/Implementor.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: ../src/Implementor.php

